server {
    listen 80;
    listen [::]:80;
    server_name {{domain}} www.{{domain}};
    root {{rootDir}};
    index index.html;

    # Allow certbot to validate
    location /.well-known/acme-challenge/ {
        try_files $uri =404;
    }

    # Serve other requests
    location / {
        try_files $uri $uri/ =404;
    }
}
