---
- name: Install PHP 8.1
  become: true
  apt:
    state: present
    name:
      - php8.1-fpm
      - php8.1-common
      - php8.1-mbstring
      - php8.1-gd
      - php8.1-xml
      - php8.1-mysql
      - php8.1-cli
      - php8.1-zip
      - php8.1-curl
